<template>
  <div class="home-page">
    <h1 class="display-5 fw-bold text-center">
      Zones and Distributions
    </h1>

    <div class="col-lg-8 mx-auto zones mb">
      <zone-editable
        v-for="zone in zones"
        :id="zone.id"
        :name="zone.name"
        :distributions="zone.distributions"
        :updated_at="zone.updated_at"
        :key="zone.uid"
        @edit="zone.name = $event.name, zone.distributions = $event.distributions, zone.updated_at = $event.updated_at"
        @delete="zone.distributions = $event.distributions"
        class="zone"
      />
    </div>

    <h1 class="display-5 fw-bold text-center">
      To Do List
    </h1>

    <ul class="col-lg-6 mx-auto">
      <li style="color:blue">Add the percentage symbol to each distribution number while is not being edited</li>
      <li style="color:blue">The cancel button is not working</li>
      <li style="color:blue">Without refreshing the page, be able to edit all the distributions from a zone</li>
      <li style="color:blue">Be able to add more distributions</li>
      <li style="color:blue">Be able to remove distributions</li>
      <li style="color:blue">When the user is not able to save due to some error, the error must be showed</li>
      <li style="color:blue">The sum of all distributions must be ensured to be 100% in anyway</li>
      <li style="color:blue">The distributions must be integer</li>
      <li style="color:blue">The zone name cannot be empty</li>
      <li style="color:blue">The zone name cannot have more than one space between each word</li>
      <li style="color:blue">The zone name cannot have spaces at start or the end</li>
      <li style="color:blue">The zone name cannot be repeated in any way</li>
      <li style="color:blue">Create a new field "updated_at" that is going to store the date when the name field change</li>
      <li style="color:blue">Show the updated_at field value near each zone name</li>
      <li style="color:blue">Add a way for the user to know that an element is being saved</li>
      <li style="color:blue">When the number of distributions is 5 or greater, the background of that zone must change to any color while is not being edited</li>
    </ul>
  </div>
</template>

<script>
import ZoneEditable from './ZoneEditable.vue';

export default {
  name: 'HomePage',
  components: {
    ZoneEditable
  },
  props: {
    context: {
      type: Object
    }
  },
  data() {
    return {
      zones: [],
      zoneUid: 0
    };
  },
  mounted() {
    this.zones = this.context.zones.map(data => {
      return {
        id: data.id,
        name: data.name,
        uid: this.zoneUid++,
        distributions: data.distributions,
        updated_at: data.updated_at
      };
    });
  }
}
</script>

<style lang="scss">
@import 'resources/scss/variables.scss';

.home-page {
  .zones {
    display: flex;
    gap: 4px;
    flex-direction: column;
  }
}
</style>
