<template>
  <div class="zone-editable">
    <div v-if="display" class="zone-display" :class="distributions.length > 4 ? 'bg-secondary' : ''">
      <div class="col-md-3">
        Updated: {{ updated_at }}
      </div>
      <div>
        Zone Name: <strong>{{ name }}</strong> Distributions: {{ distributionDisplay }}
      </div>
      <button class="btn btn-primary" @click="setDisplay(false)" :disabled="saving">
        Edit
      </button>

    </div>
    <div v-else class="zone-edit">
      <label class="control-label">
        Zone Name
      </label>

      <input v-model="form.name" placeholder="Zone name" class="form-control" :disabled="saving">

      <div class="zone-edit-distributions">
        <div class="row" v-for="distribution in form.distributions">
          <label class="control-label">
            Distribution
          </label>
          <div class="col-md-10">
            <input v-model="distribution.percentage" placeholder="Percentage" class="form-control" type="number">
          </div>
          <div class="col-md-2">
            <button class="btn btn-danger" @click="deleteDistribution(distribution.id)" :disabled="saving">
              <i class="fa-regular fa-trash"></i>
            </button>
          </div>
        </div>
      </div>

      <div v-if="alertMessage.active" class="zone-display">
        <div class="alert" :class="alertMessage.type" role="alert">
          Message: {{ alertMessage.message }}
        </div>
      </div>

      <div class="zone-edit-actions">
        <div class="col-lg-12 text-center">
          <button class="btn btn-secondary col-md-3" @click="setDisplay(true)" :disabled="saving">
            Cancel
          </button>

          <button class="btn btn-success col-md-3" @click="save" :disabled="saving">
            Save <span v-if="saving"> LOADING</span>
          </button>

          <button class="btn btn-success col-md-3" @click="addDistribution()" :disabled="saving">
            Add Distribution
          </button>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ZoneEditable',
  props: {
    name: String,
    id: Number,
    distributions: Array,
    updated_at: String
  },
  data() {
    return {
      display: true,
      form: {
        name: '',
        distributions: [],
      },
      saving: false,
      alertMessage: {
        active: false,
        type: "alert-danger",
        message: ""
      }
    };
  },
  computed: {
    distributionDisplay() {
      console.log("load Dist");
      return this.distributions.map(distribution => distribution.percentage + "%").join(" - ");
    }
  },
  mounted() {
    this.getValuesFromProps();
  },
  methods: {
    getValuesFromProps() {
      this.form.name = this.name;
      this.form.distributions = this.distributions.map(distribution => {
        return {
          id: distribution.id,
          percentage: distribution.percentage
        };
      });
    },
    setDisplay(value) {
      this.display = value;
      this.alertMessage.active = false;
      if (!this.display) {
        this.getValuesFromProps();
      }
    },
    async save() {
      this.saving = true;

      const params = {
        id: this.id,
        name: this.form.name.replace(/\s+/g, " ").trim(),
        distributions: this.form.distributions,
        updated_at: this.updated_at
      };
      let valid = this.validateForm()
      console.log(valid);
      if (valid == true) {
        await axios.post('/api/zones/edit', params)
          .then((res) => {
            if (params.name != this.name) {
              var currentdate = new Date();
              var datetime = currentdate.getFullYear() + "-"
                + (currentdate.getMonth() + 1) + "-"
                + currentdate.getDate() + "T"
                + currentdate.getHours() + ":"
                + currentdate.getMinutes() + ":"
                + currentdate.getSeconds();
            } else datetime = this.updated_at
            this.$emit('edit', {
              name: params.name,
              distributions: params.distributions,
              updated_at: datetime
            });
            this.showAlert("alert-success", "datos guardados")
            this.display = true;
          })
          .catch((error) => {
            console.error(error)
            this.showAlert("alert-danger", error.message + ' => ' + error.response.data)
          });
        this.saving = false;
      } else {
        this.showAlert("alert-danger", valid)
        this.saving = false;
      }
    },
    deleteDistribution(id) {
      const params = {
        distributions: this.form.distributions
      };
      console.log(params, id);
      let deleteIndex = 0;
      params.distributions.forEach(function callback(distribution, index) {
        if (distribution.id == id) deleteIndex = index
      })
      axios.delete('/api/zones/distribution/' + id)
        .then((res) => {
          console.log(res);
          params.distributions.splice(deleteIndex, 1);
          this.$emit('delete', {
            distributions: params.distributions,
          });
        })
        .catch((error) => { console.error(error) });
    },
    addDistribution() {
      const params = {
        distributions: this.form.distributions
      };
      params.distributions.push({
        id: 0,
        percentage: null
      })
    },
    showAlert(type, message) {
      this.alertMessage.active = true;
      this.alertMessage.message = message
      this.alertMessage.type = type
    },
    validateForm() {
      const params = {
        distributions: this.form.distributions
      };

      let errors = [];

      if (!this.form.name) {
        errors.push('Name is required.');
      }
      if (this.form.distributions.length == 0) {
        errors.push('One distribution at least is required.');
      }

      let totalDistribution = 0;
      params.distributions.forEach(distribution => {
        totalDistribution += Number(distribution.percentage)
      });
      console.log(totalDistribution)
      if (totalDistribution > 100 || totalDistribution < 100) {
        errors.push('Distribution must be 100%, validate your numbers');
      }

      if ((this.form.name && this.form.distributions.length > 0) && errors.length == 0) {
        return true;
      } else
        return errors
    }
  }
}
</script>

<style lang="scss">
@import 'resources/scss/variables.scss';

.zone-editable {
  border: 1px solid $gray-color;
  padding: $qmb;
  border-radius: $border-radius;

  .zone-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .zone-edit {
    display: flex;
    flex-direction: column;
    gap: $small-action-space;

    .zone-edit-actions {
      display: flex;
      gap: $small-action-space;
      justify-content: end;
    }

    .zone-edit-distributions {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: $small-action-space;
    }
  }
}
</style>
